body {
  background-color: rgb(0, 34, 255);
}
h1 {
  font-size: 30px;
  color: rgb(255, 0, 0);
}
h2 {
  color: rgb(201, 0, 0);
  font-size: 30px;
}
h3 {
  color: rgb(26, 185, 23);
}
h4 {
  color: rgb(255, 0, 0);
  font-size: 30px;
}
h5 {
  font-size: 20px;
  color: #bb0000;
}
ol {
  font-size: 20px;
  color: #be0909;
}
p {
  color: red;
}
ul {
  color: red;
  display: inline-block;
  vertical-align: top;
}
ul li {
  list-style: none;
}
h3 {
  font-size: 40px;
}

td, th, table {
  text-align: center;
  border: 1px solid black;
  width: 75%;
}
#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav_item {
  float: left;
}

.nav_item  a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav_item  a:hover {
  background-color: #111;
}